.featured-games
  .heading Featured Games
  .games-list
    .wishlist-game
      .title Life is Strange: True Colors
      .add-to-wishlist(onclick="return window.open('https://store.steampowered.com/app/936790/Life_is_Strange_True_Colors/', '_blank');") Add to your Wishlist!
    .wishlist-game
      .title OUTRIDERS
      .add-to-wishlist(onclick="return window.open('https://store.steampowered.com/app/680420/OUTRIDERS/', '_blank');") Add to your Wishlist!
    .wishlist-game
      .title Last Epoch
      .add-to-wishlist(onclick="return window.open('https://store.steampowered.com/app/899770/Last_Epoch/', '_blank');") Add to your Wishlist!
