#loader
  .lds-ellipsis
    div
    div
    div
    div

#error.hide

#list.hide
  .table
    .table-row
      .header.icon(style="font-weight: 700; padding-left: 18px;") Icon
      .header.appid(style="font-weight: 700; padding-left: 32px;") App Id
      .header.name(style="font-weight: 700; padding-left: 16px;") App Name
      .header.added(style="font-weight: 700; padding-left: 16px;") Date Added