//- header.pug
header
  if steamid
    a.title(href=`/?steamid=${steamid}`) Steam User Info
    .steam-logout
      a.logout(href="/auth/logout") Steam Logout
  else
    a.title(href="/") Steam User Info
    include steam-login.pug