#notice
  #showinfo(onclick="return toggleInfo();") [info]
  #infoblock.hide
    #steaminfo
      p The Steam profile MUST be set to public to allow access to the game information!
      p You can find your Steam Id on your Profile page in either the client or on the steampowered.com website.
      p Your profile url contains your Steam Id: 
      pre https://steamcommunity.com/profiles/[steamid]/