form(action="/auth/openid" method="post")
  input(name="submit" type="image" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/english/sits_large_noborder.png" alt="Sign in through Steam")