@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap");

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 5;
}


body {
  margin: 0 auto;
  padding: 0;
  font-family: "Cairo", sans-serif;
  background-color: #2d283e;
  color: #D1D7e0;
}

div.heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #ffaa00;
}

header,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background: #564f6f;
  padding: 16px 18px;
  align-items: baseline;
  justify-content: space-between;
}

header a.title {
  font-size: 34px;
  font-weight: 700;
  color: #D1D7e0;
  text-decoration: none;
}

header a.title:hover {
  color: #ffaa00;
  text-decoration: underline;
}

header form input {
  max-width: 90px;
}

main {
  padding: 48px 18px;
  flex-direction: column;
}

main h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 24px;
}

main input.steamid {
  width: 20%;
  font-family: "Cairo", sans-serif;
  font-size: 24px;
  color: #8a8a8a;
  border-width: 1px;
  border-radius: 4px;
  text-align: center;
  outline: transparent;
}

main input.submit {
  width: 20%;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #D1D7e0;
  background: #802bb1;
  border: 1px solid #802bb1;
  border-radius: 4px;
  margin-top: 18px; 
}

main input.submit.bright {
  background-color: #ffaa00;
  border: 1px solid #ffaa00;
  color: #802bb1;
}

main input.submit:hover,
main input.submit.bright:hover {
  cursor: pointer;
  filter: brightness(120%);
}

footer {
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #D1D7e0;
}

div#error {
  margin: 36px 0;
  width: 60%;
  border: 1px solid darkred;
  background-color: darkred;
  padding: 12px 24px;
  color: #D1D7e0;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
}

div#notice {
  margin-top: 18px;
}

div#showinfo {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

div#showinfo:hover {
  color: #ffaa00;
}

div#steaminfo {
  margin: 0 12px 24px 12px;
  margin-top: 0;
  color: #D1D7e0;
  font-weight: 400;
  text-align: center;
}

div#steaminfo pre {
  margin-top: 0;
  padding: 2px 4px;
  background-color: #564f6f;
  border-radius: 4px;
  font-size: 12px;
}

div#nickname {
  font-weight: 600;
  text-align: center;
}

div.table {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

div.table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 6px;
}

div.table-row.header-row {
  border-bottom: 1px solid #ffaa00;
  margin-bottom: 16px;
}

div.table-row img,
div.table-row div.appid,
div.table-row div.name,
div.table-row div.added {
  padding: 0 16px;
  font-weight: 400;
}

div.table-row div.header {
  font-weight: 700;
}

div.table-row div.header.icon,
div.table-row img, div.table-row div.icon {
  width: 100px;
  max-height: 38px;
}

div.table-row div.icon {
  padding: 0 16px;
}

div.table-row div.header.appid,
div.table-row div.appid {
  width: 60px;
}

div.table-row div.header.added,
div.table-row div.added {
  width: 150px;
}

div.table-row div.header.name,
div.table-row div.name {
  width: 600px;
  font-weight: 700;
}

div.table-row div.name a {
  color: #D1D7e0;
  text-decoration: none;
}

div.table-row div.name a:hover {
  color: #ffaa00;
  text-decoration: underline;
}

div.steam-logout a.logout {
  color: #D1D7e0;
  text-decoration: none;
}
div.steam-logout a.logout:hover {
  color: #ffaa00;
  text-decoration: underline;
}

div.featured-games {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

div.featured-games div.heading {
  font-size: 22px;
  font-weight: 700;
}

div.featured-games div.games-list div.wishlist-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 18px 24px;
  margin-bottom: 8px;
  width: 30%;
  min-width: 600px;
  background-color: #564f6f;
  border-radius: 4px;
}
div.featured-games div.games-list div.wishlist-game div.title {
  font-weight: 700;
  color: #D1D7e0;
}
div.featured-games div.games-list div.wishlist-game div.add-to-wishlist {
  align-self: flex-end;
  padding: 0 12px;
  font-weight: 700;
  background-color: #6ca332;
  color: #D1D7e0;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;

  -webkit-transition: color 100ms linear;
  -ms-transition: color 100ms linear;
  transition: color 100ms linear;

  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
div.featured-games div.games-list div.wishlist-game div.add-to-wishlist:hover {
  background-color: #d1d7e0;
  color: #2d283e;
}


/* loading animation */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffaa00;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


/* mobile styles */

@media only screen and (max-width: 760px) {
  
  main input.steamid,
  main input.submit {
    width: 80%;
  }

  main h1 {
    font-size: 28px;
  }

  div.table-row div.header.name,
  div.table-row div.name {
    width: 100%;
  }

  div.steam-logout a.logout {
    font-size: 12px;
  }

  div.featured-games {
    width: 100%;
  }

  div.featured-games div.games-list div.wishlist-game {
    flex-direction: column;
    padding: 8px 12px;
    width: unset;
    min-width: unset;
  }
  
}


/* misc styles */

.hide {
  display: none;
}